* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #ced4da; */
}

.nav-bar {
    background-color: #ced4da;
}


.menu a {
    text-decoration: none;
    color: #00b8ad;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 15px;
    padding: 8px 35px !important;
    border-radius: 30px;
}

.navbar-nav {
    padding: 8px 14px;
    background-color: #f3f3f3;
    border-radius: 45px;
}

.menu a:hover {
    color: #fff !important;
    border-radius: 30px;
    background-color: #00B8AD;
    margin: 0 15px;
    padding: 8px 35px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav .nav-link.active {
    color: #fff !important;
    border-radius: 30px;
    background-color: #00B8AD;
    margin: 0 15px;
    padding: 8px 35px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

/* .navbarli li {
    color: #fff;
    padding: 0 20px;
    background-color: #00B8AD;
    margin: 0 15px;
} */




/* card 1 */
.card-header {
    color: #fff;
    background: none;
}

.card {
    text-align: center;
    background-color: #00b8ad;
    border-radius: 25px !important;
}

.card-title {
    font-size: 60px;
    color: white;

}


.btn-primary {
    border-radius: 30px;
    font-weight: 600;
    margin-top: 15px;
    color: #fff;
    border: none;
    background-color: #fff !important;
    border-radius: 30px;
    padding: 15px 40px !important;
}

.card-2 {
    text-align: center;
    background-color: #FED100;
}

.card-3 {
    text-align: center;
    background-color: #DF4132;
}


/* navbar design */



/* .navbar-nav .nav-link.active {
    color: #fff !important;
    border-radius: 30px;
    background-color: #00B8AD;
    margin: 9px 15px;
    padding: 6px 30px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
} */

.nav-button {
    background-color: #00b8ad !important;
    color: #fff !important;
    margin-top: 0px !important;
}

/* attendence */

.form-select {
    width: 75%;
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 21px;
}

.heading h4 {
    font-weight: bold;
}

.heading p {
    margin-top: 15px;
    font-size: 15px;
}

.attendence {
    margin-top: 50px;
}

/* card box */
.card-box {
    margin: 80px 0px;
}

/* table styling */
.table-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
}

.row-1 {
    border-bottom: 2px solid #ced4da;
    border-right: none !important;
}

.last-row {
    border-right: 0px !important;
}




/* ////////////// R E S P O N S I V E/////////// */

/* nav bar */

@media (max-width:768px) {
.table-box{
    overflow-x:scroll;
}
.table{
    padding: 15px;
}

.card-box{
    padding: 15px   ;
}
}





/* ############page patients ###############*/
.card-patients {
    text-align: center;
    background-color: #00b8ad;
    /* border-radius: 25px !important; */
}
.table-box-2 {
    background-color: #fff;
    border-radius: 15px;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
}
.row-pa{
    border: right 0px !important; ;
}
.icon-box{
    padding: 10px;
    background-color: #fff2b3;
}
.icon-box i{
            font-size: 30px;
            color: #fed100;
}
.card-parient{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
}
.icon-text{
    padding-top: 15px;
}
.icon-text p{
    font-weight: 600;
    font-size: 20px;
}
.card-text{
    font-size: 40px;

}
.card-text h5{
    font-size: 12px;
    color:#fed100;
    font-weight: bold;
}
.button-patient{
    border-radius: 30px;
    font-weight: 600;
    margin-top: 15px;
    color:black;
    border: none;
    background-color: #fff2b3 !important;
    border-radius: 30px;
    padding: 15px 40px !important;
    width: 100%;
}