* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f4f9;

}

.navbar {
    background-color: #fff;
}


.menu a {
    text-decoration: none;
    color: #00b8ad;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 15px;
    padding: 8px 35px !important;
    border-radius: 30px;
}

.navbar-nav {
    padding: 8px;
    background-color: #f3f3f3;
    border-radius: 45px;
}

.menu a:hover {
    color: #fff !important;
    border-radius: 30px;
    background-color: #00B8AD;
    margin: 0 15px;
    padding: 8px 35px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 80px !important;
}

/* .navbar-nav .nav-item.active {
    color: #fff !important;
    border-radius: 30px;
    background-color: #00B8AD;
    margin: 0 15px;
    padding: 8px 35px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
} */

/* .navbarli li {
    color: #fff;
    padding: 0 20px;
    background-color: #00B8AD;
    margin: 0 15px;
} */

.navbar-nav .nav-link.active {
    color: #fff !important;
    border-radius: 30px;
    background-color: #00B8AD;
    margin: 0 15px;
    text-align: center;
    padding: 10px 35px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}




/* card 1 */
.card-header {
    color: #fff;
    background: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px -2px 40px rgb(0 0 0 / 7%);
}

.card {
    text-align: center;
    background-color: #00b8ad;
    border-radius: 25px !important;
    border: 0px;
    box-shadow: 0px 1px 40px rgb(0 0 0 / 7%);
}

.card-title {
    font-size: 60px;
    color: white;

}


.btn-primary {
    border-radius: 30px;
    font-weight: 600;
    margin-top: 15px;
    color: #fff;
    border: none;
    background-color: #fff !important;
    border-radius: 30px;
    padding: 15px 40px !important;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:active {
    box-shadow: none;
}

.card-2 {
    text-align: center;
    background-color: #FED100;
}

.card-3 {
    text-align: center;
    background-color: #DF4132;
}


/* navbar design */



/* .navbar-nav .nav-link.active {
    color: #fff !important;
    border-radius: 30px;
    background-color: #00B8AD;
    margin: 9px 15px;
    padding: 6px 30px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
} */

.nav-button {
    background-color: #00b8ad !important;
    color: #fff !important;
    margin-top: 0px !important;
}

/* attendence */

.form-select {
    width: 75%;
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 21px;
}

.heading h4 {
    font-weight: bold;
}

.heading p {
    margin-top: 15px;
    font-size: 15px;
}

.attendence {
    margin-top: 50px;
}

/* card box */
.card-box {
    margin: 30px 0px 70px;
}

/* table styling */
.footer-table {
    margin: 40px 0px 60px 0px;
}

.table-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 17px;
    -webkit-box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);

    -moz-box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);

    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);

}

td {
    border-bottom: 0px !important;
    border-right: 2px solid #ced4da;
}

.row-1 {
    border-bottom: 2px solid #ced4da;
    border-right: none !important;
}

.last-row {
    border-right: 0px !important;
}


.form-select {
    outline: none;
    box-shadow: none;
    border: 0;
    box-shadow: 0px 1px 50px rgb(0 0 0 / 8%);
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    box-shadow: 0px 1px 50px rgb(0 0 0 / 8%);
}





/* option {
    padding: 50px !important;
    background-color: #00b8ad !important;
    margin: 50px;
    line-height: 50;
    color: #fff;
} */






/* ############page patients ###############*/
.card-patients {
    text-align: center;
    background-color: #00b8ad;
    /* border-radius: 25px !important; */
}

.table-box-2 {
    background-color: #fff;
    border-radius: 15px;
    padding: 0px;
    -webkit-box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);
}


.icon-box {
    padding: 16px;
    background-color: #fff2b3;
    border-radius: 12px;
}

.icon-box-2 {
    padding: 16px;
    background: rgba(99, 88, 141, 0.3);
    border-radius: 12px;
}

.icon-box i {
    font-size: 35px;
    color: #fed100;
}

.icon-box-2 i {
    font-size: 35px;
    color: #63588D;
}

.card-parient {
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.07);
    border: none;
}

.icon-text {
    padding-top: 15px;
}

.icon-text p {
    font-weight: 600;
    font-size: 20px;
}

.card-text {
    font-size: 40px;

}

.card-text h5 {
    font-size: 12px;
    color: #fed100;
    font-weight: bold;
}

.button-patient {
    border-radius: 30px;
    font-weight: 600;
    margin-top: 15px;
    color: black;
    border: none;
    background-color: #fff2b3 !important;
    border-radius: 11px;
    padding: 15px 40px !important;
    width: 100%;
}

.button-patient-2 {
    border-radius: 30px;
    font-weight: 600;
    margin-top: 15px;
    color: black;
    border: none;
    background: rgba(99, 88, 141, 0.3) !important;
    border-radius: 11px;
    padding: 15px 40px !important;
    width: 100%;
}

/* index page css */

.announcement {
    margin: 50px 0px;
}

/* .title {
    margin: 30px 0px;
} */

.title H3 {
    font-size: 24px;
    font-weight: 700;
}

.announcement_list_box {
    border: 0px solid grey;
    background-color: white;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    border-radius: 25px;
}

.announcement_list ul {
    line-height: 2;
}

.patient_table {
    margin: 10px 0px;
}

.attendance_table {
    margin: 50px;
}

.attendance_box {
    border: 0px solid grey;
    background-color: white;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    border-radius: 25px;
    padding: 15px;
}

.out_today {
    border-right: 1px solid black;
}

.view_align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ||||||||||||| M O D A L ||||||||||||| */
.modal-header {
    border-bottom: none;
}

.exp-date p {
    font-size: 12px;
}

.modal_test h4 {
    font-size: 25px;
    font-weight: 500;
}

.modal_test p {
    font-size: 13px;
    font-weight: 400;
}

.btn-secondary {
    background-color: #63588D !important;
}

/* resources */

.reosource {
    margin: 80px 0px;
}
.reosource_main{
    margin-bottom: 50px;
}
.resources_heading h3{
    font-size: 25px;

}
.resources_title{
    font-size: 14px;
}

.res_img {
    border: 1px solid black;
}

.res_img {
    position: relative;
}

.view_button {

    text-align: center;
    position: absolute;
    bottom: 100px;
    width: 70%;
    padding: 10px 5px 10px 6px;
    border: 1px solid white;
    display: none;
}

.view_button a{
    color: white;
    z-index: 1;
}

.res_img:hover .view_button{
    display: block;
}

/* //////// ///////// R E S P O N S I V E  ////////////////////////////// */



@media (max-width:768px) {
    .table-box {
        overflow-x: scroll;
    }

    .table {
        padding: 15px;
    }

    .card-box {
        padding: 15px;
    }

    .heading h4 {
        text-align: center;
    }

    .heading p {
        text-align: center;
    }

    .form-select {
        width: 85%;

    }

    .patients-main {
        padding: 15px;
    }

    .button_main {
        margin: 20px auto;
    }

    .navbar-nav .nav-link.active {
        /* padding: 10px 0px !important; */
    }

    .navbar-nav {
        padding: 20px 75px;
        margin: 17px 0px;
        text-align: center;
    }

}